registry="https://registry.npm.taobao.org"
sass_binary_site="https://npm.taobao.org/mirrors/node-sass"
PUPPETEER_DOWNLOAD_HOST="https://npm.taobao.org/mirrors"
ELECTRON_MIRROR="https://cdn.npm.taobao.org/dist/electron/"