body {
    overflow-x: hidden;
    font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
    -webkit-font-smoothing: subpixel-antialiased;
}
a {
    color: inherit;
    text-decoration: none;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-contain,
.bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-contain {
    background-size: contain;
}
.bg-cover {
    background-size: cover;
}

.page-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    $action-height: 50px;
    $page-height: 50px;
    & > .action {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $action-height;
        border-bottom: 1px solid #dddddd;
        display: flex;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;
        background-color: #4e6b88;
        .left {
            flex: 0 0 auto;
        }
        .right {
            display: flex;
            align-items: center;
            flex: 0 0 auto;
        }
        .el-form-item {
            margin-bottom: 0;
        }
    }
    & > .table {
        position: absolute;
        top: $action-height;
        left: 0;
        right: 0;
        bottom: $page-height;
        overflow-y: auto;
        padding: 10px;
    }
    & > .page {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $page-height;
        border-top: 1px solid #dddddd;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 10px;
        background-color: #eaeaea;
    }
}
.el-drawer__container {
    position: absolute;
    top: 60px;
    height: auto;
    .drawer-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

        .drawer-bodyer {
            // position: absolute;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // left: 0;
            flex: 1 1 100%;
            padding: 10px;
            border-top: 1px solid #dddddd;
        }
        .drawer-footer {
            // position: absolute;
            // left: 0;
            // right: 0;
            // bottom: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 50px;
            flex: 0 0 50px;
            padding: 0 10px;
            border-top: 1px solid #dddddd;
        }
    }
}
.dialogBodyer {
    max-height: 500px;
    overflow-y: auto;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
// ::-webkit-scrollbar {
//     width: 2px;
//     height: 2px;
// }
// ::-webkit-scrollbar-thumb {
//     background-color: #60c4ff;
// }
// ::-webkit-scrollbar-track {
//     background-color: #012062;
// }
